body {
    margin: 0;
}

h1 {
    text-align: center;
    letter-spacing: 0em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

/*Form*/
form {
    text-align: center;
  
}

input {
    padding: 14px 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
    
}

input {
    background-color: white;
    background-image: url(https://icon-library.com/images/icon-search/icon-search-18.jpg);
    background-size: contain;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    padding-left: 45px;
}

/* Nav bar */
ul {
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 50px;
    text-align: center;
    padding: 0;
    border-bottom: 1px gainsboro solid;
    
    
}

li {
    
    display: inline-block;
    padding: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: dimgrey;
}

.active {
    border-bottom: 2px blue solid;
}


p {
    margin-top: -40px;
    margin-left: 16px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2, h3, h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

h2 {
    color: blue;
    font-size: 20px;
    margin-left: 16px;
    
}

h3{
    font-size: 16px;
    margin-left: 16px;
}

.definitions {
    margin-left: 25px;
    margin-top: -12px;

}

h4 {
    display: inline-block;
    margin-top: -4px;
    margin-left: 16px;
    font-size: 14px;
 
}

img {
    border-radius: 15px;
    margin-left: 30px;
}

.container {
    border: solid gainsboro;
    border-radius: 15px;
    max-width: fit-content;
    padding-left: 10px;
    margin-top: -4px;
}

footer {
    background-color: gainsboro;
    margin-top: 210px;
    padding: 30px;
    font-size: smaller;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
